:root {
    --phone_width: 200px;
    --phone_height: 400px;
    --phone_pad: 15px;
    --metal-width: 5px;
    --metal-color: gray;
    --brush-hand-color: rgb(0, 0, 118);


    --brush-left-color: #F6FDC3;
    --brush-right-color: #CDFADB;
    --animation : 10s;
    --brush-margin : 100%;
    --brush-rotation : 30deg;
}

.container {
    position: relative;
    display: flex;
margin-left: 50%;
transform: translateX(-50%);  
width: 600px ;
justify-content: center;
margin-top: 10%;
}




.phone {
    width: var(--phone_width);
    aspect-ratio: 1/2;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20px auto 25px;
    padding: var(--phone_pad);
    row-gap: 5px;
    box-shadow: 0px 0px 15px 5px #C4DFDF;
}

.phone_microphone {
    margin: auto;
    border: 3px solid #C4DFDF;
    border-radius: 5px;
    width: 40%;
}


.phone_screen {
    position: relative;
    animation: phoneScreen var(--animation) infinite;
}

.phone_button {
    margin: auto;
    background-color: #C4DFDF;
    border:2px solid #b5d8d8;
    border-radius: 50%;
    width: 10%;
    aspect-ratio: 1;
}

.brush {
    position: absolute;
    width: calc(var(--phone_width) + var(--phone_pad)*2);
    aspect-ratio: 1;
}
.blue {
    animation: blue-brush-animation var(--animation) infinite;

}
.red {
    animation: red-brush-animation var(--animation) infinite;
}
.red *:nth-child(6){
    background-color:  var(--brush-left-color) !important;

}

.brush *:nth-child(1),
.brush *:nth-child(3) {

    background-color: var(--metal-color);
    height: calc(var(--metal-width) * 2);
    border-radius: 5px;
}

.brush *:nth-child(2),
.brush *:nth-child(4) {

    background-color: var(--metal-color);
    width: calc(var(--metal-width) * 2);
    border-radius: 5px;
    height: 33%;
}






.brush *:nth-child(6) {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: var(--phone_width);
    left: var(--phone_pad);
    height: 30%;
    border-radius: 5px;
    background-color:  var(--brush-right-color);
}



.brush *:nth-child(2) {

    position: absolute;
    right: 0;


}
.red *:nth-child(2) {

    left: 0;


}

.brush *:nth-child(3) {
    position: absolute;
    top: 30%;
    right: 0;
    width: 52%;
}
.red *:nth-child(3) {
    left: 0 !important;
}

.brush *:nth-child(4) {

    position: absolute;
    top: 30%;
    right: 50%;
    transform: translateX(60%);
}

.brush *:nth-child(5) {
    background-color: var(--brush-hand-color);
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    height: 40%;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
}


.brush *:nth-child(1) {

    position: absolute;
    top: 0;

    width: 100%;
}





.painted{
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    animation: painting var(--animation) infinite;
}

@keyframes blue-brush-animation {
    0% {
        margin-right: calc(var(--brush-margin) * -1);
        top: 70%;
        transform: rotate(calc(var(--brush-rotation)*-1));
    }

    10% {
        margin-right: 0%;
        top: 10%;
        margin-bottom: 50px;
        transform: rotate(0deg);
    }

    30% {
        margin-right: 0%;
        top: 90%;
        margin-bottom: 50px;
        transform: rotate(0deg);
    }
    50% {
        margin-right: calc(var(--brush-margin) * -1);
        top: 70%;
        transform: rotate(calc(var(--brush-rotation)*-1));
    }
    100%{
    
        margin-right: calc(var(--brush-margin) * -1);
            top: 70%;
            transform: rotate(calc(var(--brush-rotation)*-1));
        }
}
@keyframes red-brush-animation {
    0% {
        margin-right: var(--brush-margin);
        top: 70%;
        transform: rotate(var(--brush-rotation));
    }
    50% {
        margin-right: var(--brush-margin);
        top: 70%;
        transform: rotate(var(--brush-rotation));
    }

    60% {
        margin-right: 0%;
        top: 10%;
        margin-bottom: 50px;
        transform: rotate(0deg);
    }

    80% {
        margin-right: 0%;
        top: 90%;
        margin-bottom: 50px;
        transform: rotate(0deg);
    }
    100% {
        margin-right: var(--brush-margin);
        top: 70%;
        transform: rotate(var(--brush-rotation));
    }
}

@keyframes painting {
    0%{
        height: 0;
        background-color:  var(--brush-right-color);
}
    10%{
        height : 0;
        background-color:  var(--brush-right-color);
    }
    30%{
        height: 100%;
        background-color:  var(--brush-right-color);
    }  
    50%{
        height: 0;
        background-color:  var(--brush-right-color);
    }
    60%{
        height : 0;
        background-color:  var(--brush-left-color);
    }
    80%{
        height: 100%;
        background-color:  var(--brush-left-color);
    }
    100%{
        height: 0;
        background-color:  var(--brush-left-color);
    }
}


@keyframes phoneScreen {
    0%{
        background-color:  var(--brush-left-color);
    }
    25%{
        background-color:  var(--brush-left-color);
    }
    26%{
        background-color:  var(--brush-right-color);
    }
    75%{
        background-color:  var(--brush-right-color);
    }
    76%{
        background-color:  var(--brush-left-color);
    }
    100%{

        background-color:  var(--brush-left-color);
    }
    
}


@media screen AND (max-width : 970px) {
    
    body{
        background-color: rgb(71, 71, 71);
    }
    .container{
        /* width : 200px */
    }
    .phone{
        width: calc(var(--phone_width)/2);

    }
    
.brush {
    width: calc((var(--phone_width) + var(--phone_pad)*2)/2);
}


.brush *:nth-child(1),
.brush *:nth-child(3) {

    background-color: var(--metal-color);
    height: calc(var(--metal-width) * 2);
    border-radius: 5px;
}

.brush *:nth-child(2),
.brush *:nth-child(4) {

    background-color: var(--metal-color);
    width: calc(var(--metal-width) * 2);
    border-radius: 5px;
    height: 38%;
}






.brush *:nth-child(6) {
    width: calc(var(--phone_width)/2);
    left: calc(var(--phone_pad)/2);
}











@keyframes blue-brush-animation {
    0% {
        margin-right: calc(var(--brush-margin) * -0.5);
        top: 60%;
        transform: rotate(calc(var(--brush-rotation)*-1));
    }

    10% {
        margin-right: 0%;
        top: 10%;
        margin-bottom: 50px;
        transform: rotate(0deg);
    }

    30% {
        margin-right: 0%;
        top: 80%;
        margin-bottom: 50px;
        transform: rotate(0deg);
    }
    50% {
        margin-right: calc(var(--brush-margin) * -0.5);
        top: 60%;
        transform: rotate(calc(var(--brush-rotation)*-1));
    }
    100%{
    
        margin-right: calc(var(--brush-margin) * -0.5);
            top: 60%;
            transform: rotate(calc(var(--brush-rotation)*-1));
        }
}
@keyframes red-brush-animation {
    0% {
        margin-right: calc(var(--brush-margin)*0.5);
        top: 60%;
        transform: rotate(var(--brush-rotation));
    }
    50% {
        margin-right: calc(var(--brush-margin)*0.5);
        top: 60%;
        transform: rotate(var(--brush-rotation));
    }

    60% {
        margin-right: 0%;
        top: 10%;
        margin-bottom: 50px;
        transform: rotate(0deg);
    }

    80% {
        margin-right: 0%;
        top: 80%;
        margin-bottom: 50px;
        transform: rotate(0deg);
    }
    100% {
        margin-right: calc(var(--brush-margin)*0.5);
        top: 60%;
        transform: rotate(var(--brush-rotation));
    }
}


}
